html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

hr {
  color: #ff99ff;
  margin: .5rem;
}

.navbar-pink {
  background-color: #ff99ff;
  border-color: #ffccff;
}

.btn-pink {
  color: #fff;
  background-color: #ff99ff;
  border-color: #ffccff;
}

.btn-pink.active {
  color: #ff99ff;
  background-color: white;
  outline: #ff99ff;
}

.btn-pink:hover {
  color: #ff007f;
}

.icon-pink {
  color: #ff007f;
}

.icon-pink-light {
  color: #ff99cc
}

.no-content-pink {
  background-color: #fff7ff;
  color: #ff99cc;
}

.card-pink {
  outline: 1px solid #ff99ff;
}

.card-title-pink {
  background-color: #ff99ff;
  color: white;
}

.form-select-pink {
  color: #ff66b2;
  border: 1px solid #ff99ff
}

.form-select-pink.dropdown-toggle::after {
  display: none;
}

.dropdown-menu-scroll {
  max-height: 50vh;
  overflow-y: auto;
}

.dropdown-menu-scroll li {
  height: 10vh;
}

.villager-icon-fit {
  height: 100%;
}

.villager-icon-sm  {
  height: 1.4rem;
}

.dropdown-item.active {
  color: #ff007f;
  border: 1px solid #ff99ff;
  background-color: #ffccff;
}

.fs-small {
  font-size: .7em;
}

.accordion-button {
  padding: 0px 10px;
}

.accordion-button:focus{
  z-index: 3;
  border-color: #ff99ff;
  box-shadow: 0 0 0 0.25em #ffccff;

}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}
